@model IEnumerable<TripApp.ViewModels.ReservationViewModel>

<h1>Reservations</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Reservation ID
            </th>
            <th>
                Client Name
            </th>
            <th>
                Trip Destination
            </th>
            <th>
                Reservation Date
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var reservation in Model)
        {
            <tr>
                <td>@reservation.ReservationId</td>
                <td>@reservation.ClientId</td>
                <td>@reservation.TripId</td>
                <td>@reservation.ReservationDate.ToString("dd/MM/yyyy") </td>
            </tr>
        }
    </tbody>
</table>
