@using TripApp.Models
@model IEnumerable<Trip>

<div class="container">
    <h1 class="text-center">Trip List</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Trip ID</th>
                <th>Destination</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var trip in Model)
            {
                <tr>
                    <td>@trip.Destination</td>
                    <td>@trip.TripDateStart.ToShortDateString()</td>
                    <td>@trip.TripDateEnd.ToShortDateString()</td>
                    <td>@trip.Price.ToString("C")</td>
                </tr>
            }
        </tbody>
    </table>
</div>
