@model TripApp.Models.Trip

<h1>Create</h1>

<form asp-action="Create">
    <div class="form-group">
        <label asp-for="Destination"></label>
        <input asp-for="Destination" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="TripDateStart"></label>
        <input asp-for="TripDateStart" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="TripDateEnd"></label>
        <input asp-for="TripDateEnd" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Price"></label>
        <input asp-for="Price" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>
